Port 22
HostKey /etc/ssh/ssh_host_ed25519_key
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
UsePAM no
AllowUsers tester
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PrintMotd no
LogLevel VERBOSE
Subsystem sftp internal-sftp

